<template name="sidebarTemplate">
    <nav class="ui styled accordion">
        <h4 class="ui center aligned header">{{currentTime}}</h4>

        <div class="title">基础知识</div>
        <div class="content">
            <div class="ui list">
                <a class="item" href="/wiki/ch1">可制造性设计的概念</a>
            </div>
        </div>

        <div class="title">虚拟实验</div>
        <div class="content">
            <div class="ui list">
                <a class="item" href="#">1、导入和认识</a>
                <a class="item" href="#">2、电路板和导线设计</a>
            </div>
        </div>

        <div class="title">自我测试</div>
        <div class="content">
            <div class="ui list">
                <a class="item" href="#">aaaa</a>
                <a class="item" href="#">bbbb</a>
            </div>
        </div>
    </nav>
</template>